<!-- galeria_detalle.html -->
{% extends 'base.html' %}

{% block content %}
   <h1 class="text-center text-3xl font-bold text-gray-800 mb-1">{{ galeria.nombre }}</h1>
    <p class="text-center text-2xl text-gray-600 ">{{ galeria.descripcion }}</p>
          
            {% for fecha, imagenes in imagenes_por_fecha.items %}
                {% with day=fecha|date:"l" %}
                <h2 class="{% if day == "sábado" or day == "domingo" %}text-red-500{% else %}text-gray-700{% endif %} text-xl font-semibold mb-0">
                    {{ fecha|date:"j F  Y (l)" }}
                </h2>
                {% endwith %}
                
                <div class="columns-3 gap-4 my-3 mx-2">    
                {% for imagen in imagenes %}

                    <img class="h-auto max-w-full rounded-lg my-3" src="{{ imagen.imagen.url }}" alt="{{ imagen.descripcion }}" >

                {% endfor %}
                </div>
            {% endfor %}
        
    </div>
{% endblock content %}