{% extends "base.html" %}
{% load static %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center p-4">
    <img src="{% static 'img/logo-tk-rl.png' %}" alt="Tk Redline" class="logo-light h-20 w-auto mb-6" />
    <img src="{% static 'img/logo-tk-rl-dark.png' %}" alt="Tk Redline" class="logo-dark h-20 w-auto mb-6" />
    <div class="flex flex-wrap gap-3 justify-center">
      <a href="{% url 'docs:index' %}" class="btn btn-info">Docs. Contratista</a>
      <a href="{% url 'docs:final' %}" class="btn btn-info">Docs. Finales</a>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
